body {
  background-color: #f14b4b;
  background-image: url(./soicodoc.jpg);
}

.background-color {
  width: 200;
  height: 200px;
  color: yellow;
  /* transparent (mặc định - màu trong suốt) */
  background-color: transparent;
  /* color name */
  background-color: red;
  /* kênh rgb */
  background-color: rgb(152, 188, 45);
  /* hex */
  background-color: #1dbe7b;
  background-color: currentColor;
}

.background-image {
  height: 100vh;
  /* mặc định hình ảnh lặp vô hạn, chiếm kích thước của thẻ chứa nó */
  background-image: url(./soicodoc.jpg);
  /* none (bỏ hiển thị hình nền) */
  /* background-image: none; */
  /* background không lặp lại */
  background-repeat: no-repeat;
  /* background lặp lại trục x */
  background-repeat: repeat-x;
  /* background lặp lại trục y */
  background-repeat: repeat-y;
  /* background lặp lại (mặc định) */
  background-repeat: repeat;
  /* Sử dụng kết hợp nhiều ảnh nền
  =>Ảnh nào xếp trước sẽ nằm trên
  */
  background-image: url(./palm-tree-leaf-free-png.webp), url(./soicodoc.jpg);
}

.background-size {
  width: 400px;
  height: 400px;
  background-image: url(./soicodoc.jpg);
  /* background-size (điều chỉnh kích thước ảnh nền). Các giá trị:display: 
  1.contain
  =>Ảnh vừa khung hình
  =>Giữ nguyên tỉ lệ ảnh
  =>Không bị mất ảnh
  =>Nếu còn khoảng trống, ảnh sẽ bị lặp lại
  2.cover
  =>Ảnh vừa khớp khung hình
  =>Giữ nguyên tỉ lệ ảnh(không bị méo)
  =>Có thể mất 1 phần ảnh
  =>Không bị lặp ảnh
  3.Đơn vị
  =>Khi truyền 1 đối số là chiều rộng
  =>Khi truyền 2 đối số (đối số thứ 1 width, đối số thứ 2 height)
  */
  background-size: contain;
  background-size: cover;
  background-size: 100%;
  background-size: 100% 100%;
  background-size: 200px;
  background-size: 200px 400px;
}

.background-position {
  width: 700px;
  height: 400px;
  background-image: url(./soicodoc.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position (vị trí bắt đầu đặt ảnh nền) */
  background-position: top left;
  background-position: top;
  background-position: top right;
  background-position: left;
  background-position: center;
  background-position: right;
  background-position: bottom left;
  background-position: bottom;
  background-position: bottom right;
  /* khi sử dụng đơn vị % */
  background-position: 50% 50%;
  /* Khi sử dụng đơn vị cụ thể */
  background-position: 50px 50px;
}

.linear-gradient {
  width: 200px;
  height: 200px;
  /* linear-gradient(direction, color-stop1, color-stop2,...)
  =>direction (điều hướng chuyển màu)
  =>color (màu) có thêm nhiều màu ngăn cách bởi dấu ,
  =>stop (% không áp dụng chuyển sắc cho từng màu)
  */
  /* background-image: linear-gradient(to top left, red, blue 60%); */
  /* background-image: linear-gradient(to top right, red 50%, blue 60%); */
  /* background-image: linear-gradient(to left, red 50%, blue 60%); */
  /* background-image: linear-gradient(to right, red 50%, blue 60%); */
  /* background-image: linear-gradient(to bottom left, red 50%, blue 60%); */
  background-image: linear-gradient(to bottom, red, blue 10%);
  /* background-image: linear-gradient(to bottom right, red 50%, blue 60%); */
}

.background-attachment {
  width: 200px;
  height: 300px;
  background-image: url(./bong\ den.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  /* scroll (mặc định - ảnh sẽ tự động cuộn theo trình duyệt khi kéo lên kéo xuống */
  background-attachment: scroll;
  /* fixed (ảnh cố định khi kéo scroll lên xuống) */
  background-attachment: fixed;
  /* local (Nền sẽ cuộn cùng với nội dung của phần tử. Tức là nếu phần tử có thanh cuộn (scrollbar) bên trong,
   thì phần nền sẽ di chuyển theo khi nội dung cuộn.) */
  background-attachment: local;
}

.background-clip {
  width: 200px;
  height: 200px;
  background-image: url(./1.PNG);
  padding: 50px;
  border: 50px dotted black;
  /* background-clip (quy định vùng đổ nền). Có 3 giá trị: 
  1.border-box (mặc định - ảnh sẽ đổ vào full kích thước phần tử (content+padding+border)
  2.padding-box (ảnh chỉ đổ đến padding)
  3.content-box (ảnh chỉ đổ phần content)
  */
  background-clip: border-box;
  background-clip: padding-box;
  background-clip: content-box;
}

/* đổ màu chuyển sắc cho text bằng background-clip */

.text-h1 {
  color: #f4d03f;
}

/* @supports (giúp trình duyệt kiểm tra xem có hỗ trợ thuộc tính này không */
@supports (background-clip: text) or (-webkit-background-clip: text) {
  .text-h1 {
    color: transparent;
    background-color: #f4d03f;
    background-image: linear-gradient(132deg, #f4d03f 0%, #16a085 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
}

.background-origin {
  width: 200px;
  height: 200px;
  background-image: url(./1.PNG);
  padding: 50px;
  border: 50px dotted black;
  background-clip: border-box;
  /* background-origin (xác định gốc bức ảnh đặt ở vị trí nào). 
  Có 3 giá trị:
    1.border-box (gốc 0,0 của ảnh sẽ ở border)
    2.padding-box (mặc định - gốc ảnh mặc định ở phần padding)
    3.content-box (gốc 0,0 của ảnh sẽ ở phần content)
  */
  background-origin: border-box;
  background-origin: padding-box;
  background-origin: content-box;
}

.background {
  width: 300px;
  height: 300px;
  padding: 50px;
  border: 50px dotted black;
  /* background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit; */
  background: red url(./1.PNG) top left/cover no-repeat border-box content-box
    fixed;
}

.backdrop-filter {
  height: 100px;
  background: #8e7a7a91;
}

@supports (backdrop-filter: blur(20px) brightness(70%)) or
  (-webkit-backdrop-filter: blur(20px) brightness(70%)) {
  .backdrop-filter {
    height: 100px;
    background: #8e7a7a91;
    /* backdrop-filter (bộ lọc phông nền) */
    /* muốn thêm nhiều bộ lọc thì cách nhau bởi khoảng trắng */
    /* backdrop-filter: blur(20px); */
    /* backdrop-filter: saturate(80%); */
    /* backdrop-filter: brightness(60%); */
    backdrop-filter: blur(20px) brightness(70%);
    /* backdrop-filter là 1 thuộc tính không hỗ trợ
      100% trình duyệt phải thêm tiền tố vào
      */
    -webkit-backdrop-filter: blur(20px) brightness(70%);
  }
}
