/* :first-child (Chọn các thẻ p là thẻ con đầu tiên) */
/* p:first-child {
  color: red;
} */

/* :last-child (Chọn các thẻ p là thẻ con cuối cùng) */
/* p:last-child {
  color: blue;
} */

/* :nth-child(n) (Chọn các thẻ p là thẻ con thứ n từ trên xuống) */
/* p:nth-child(2) {
  color: green;
} */

/* :nth-child(odd) (Nhảy theo n số lẻ từ trên xuống) */
/* p.child:nth-child(odd) {
  color: rgba(255, 3, 3, 0.962);
  font-weight: 700;
} */

/* :nth-child(even) (Nhảy theo n số chẵn từ trên xuống) */
/* p.child:nth-child(even) {
  color: rgb(201, 201, 82);
} */

/* :nth-child(2n+1) (Nhảy theo step mong muốn từ trên xuống.
=> Ví dụ: 2n+1: 2.0+1=1, 2.1+1=3, 2.2+1=5, 2.3+1=7, ... ) */
*/ p.child:nth-child(2n + 1) {
  color: rgb(0, 251, 8);
}

/* :nth-last-child(n) (Chọn các thẻ p là thẻ con thứ n từ dưới lên) */
/* p.nth-last-child:nth-last-child(1) {
  color: orange;
} */

/* :nth-last-child(odd) (Nhảy theo n số lẻ từ dưới lên) */
/* p.nth-last-child:nth-last-child(odd) {
  color: rgb(255, 0, 0);
} */

/* :nth-last-child(even) (Nhảy theo n số chẵn từ dưới lên) */
/* p.nth-last-child:nth-last-child(even) {
  color: aqua;
} */

/* :nth-last-child(2n) (Nhảy theo step mong muốn từ dưới lên.
=> Ví dụ: 3n: 3.0=0, 3.1=3, 3.2=6, ... ) */
p.nth-last-child:nth-last-child(3n) {
  color: cornflowerblue;
}

/* :only-child (Chọn các thẻ p là thẻ con duy nhất) */
/* p.only-child {
  color: purple;
} */
