body {
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn {
  background-color: #000;
  color: #fff;
  width: 200px;
  height: 50px;
  font-size: 1.2rem;
  border-width: 5px;
  animation: color-btn 2s linear infinite alternate;
  cursor: pointer;
}

@keyframes color-btn {
  0% {
    border-image: linear-gradient(
        to bottom,
        rgb(16, 255, 215),
        rgb(205, 7, 255)
      )
      1;
  }
  15% {
    border-image: linear-gradient(
        to bottom left,
        rgb(16, 255, 215),
        rgb(205, 7, 255)
      )
      1;
  }
  30% {
    border-image: linear-gradient(to left, rgb(16, 255, 215), rgb(205, 7, 255))
      1;
  }
  45% {
    border-image: linear-gradient(
        to top left,
        rgb(16, 255, 215),
        rgb(205, 7, 255)
      )
      1;
  }
  60% {
    border-image: linear-gradient(to top, rgb(16, 255, 215), rgb(205, 7, 255)) 1;
  }
  75% {
    border-image: linear-gradient(
        to top right,
        rgb(16, 255, 215),
        rgb(205, 7, 255)
      )
      1;
  }
  90% {
    border-image: linear-gradient(to right, rgb(16, 255, 215), rgb(205, 7, 255))
      1;
  }
  100% {
    border-image: linear-gradient(
        to bottom right,
        rgb(16, 255, 215),
        rgb(205, 7, 255)
      )
      1;
  }
}
