.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 300px;
  height: 300px;
  padding: 20px;
  background: rgba(33, 33, 189, 0.582);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

/* AOS */
[data-aos] {
  visibility: hidden;
}
[data-aos].animate__animated {
  visibility: visible;
}

.box {
  animation-iteration-count: infinite;
  animation-delay: 3s;
}
