.font-weight {
  /* font-weight (Độ dày của chữ) */
  /* font-weight: 900; */
  /* font-weight: bold; */
  /* font-weight: lighter; */
}

.line-height {
  font-size: 20px;
  /* line-height (Chiều cao dòng) */
  line-height: 50px;
  /* chiều cao dòng = 1.5 lần font-size */
  line-height: 1.5;
  line-height: 150%;
}

/* line-height cũng có thể căn giữa text bằng cách set line-height = height */
.line-height-center {
  font-size: 20px;
  height: 130px;
  background-color: #ff0000;
  line-height: 130px;
}
