* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  font-size: 1.6rem;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  position: relative;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  color: rgba(255, 255, 255, 0.596);
  background-color: rgba(231, 231, 231, 0.315);
  width: 400px;
  height: 600px;
  border-style: solid;
  border-width: 10px;
  padding: 25px;
  text-align: center;
  letter-spacing: 1.5px;
  text-shadow: 2px 1px 1px rgb(0, 0, 0);
  transition: 0.5s;
  animation: spin 2s ease-in-out infinite alternate;
}

@keyframes spin {
  0% {
    border-image: linear-gradient(
        to right,
        rgba(255, 232, 22, 0.568),
        rgba(255, 9, 9, 0.548)
      )
      1;
  }
  15% {
    border-image: linear-gradient(
        to bottom right,
        rgba(255, 232, 22, 0.568),
        rgba(255, 9, 9, 0.548)
      )
      1;
  }
  30% {
    border-image: linear-gradient(
        to bottom,
        rgba(255, 232, 22, 0.568),
        rgba(255, 9, 9, 0.548)
      )
      1;
  }
  45% {
    border-image: linear-gradient(
        to bottom left,
        rgba(255, 232, 22, 0.568),
        rgba(255, 9, 9, 0.548)
      )
      1;
  }
  60% {
    border-image: linear-gradient(
        to left,
        rgba(255, 232, 22, 0.568),
        rgba(255, 9, 9, 0.548)
      )
      1;
  }
  75% {
    border-image: linear-gradient(
        to top left,
        rgba(255, 232, 22, 0.568),
        rgba(255, 9, 9, 0.548)
      )
      1;
  }
  100% {
    border-image: linear-gradient(
        to top,
        rgba(255, 232, 22, 0.568),
        rgba(255, 9, 9, 0.548)
      )
      1;
  }
}

.container:hover {
  transform: skew(6deg, 6deg);
  box-shadow: -10px 10px 20px rgb(255, 255, 255);
  background-color: rgba(130, 52, 150, 0.473);
}

.click-ava {
  display: flex;
  justify-content: center;
}

.ava {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  margin-top: 30px;
  font-size: 3rem;
  font-weight: 800;
}

.date-of-birth {
  margin-top: 30px;
  font-size: 2.5rem;
}

.group {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.profession__title {
  font-size: 2.1rem;
}

.profession__desc {
  margin-top: 10px;
}

.hobby__title {
  font-size: 2.1rem;
}

.hobby__desc {
  margin-top: 10px;
}
